<div *ngIf="list && list.length === 0" class="mx-auto" style="margin-top: 40px;">
    <p class="alert text-center alert-info">Aucun collaborateur</p>
</div>

<div *ngIf="list && list.length !== 0" class="table-responsive">
    <table class="table table-centered table-sm table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col" class="align-middle">Nom</th>
                <th scope="col" class="align-middle">Prénom</th>
                <th scope="col" class="align-middle">Email</th>
                <th scope="col" class="align-middle">Date embauche</th>
                <th scope="col" class="align-middle">Manager</th>
                <th scope="col" class="align-middle">Compte (login)</th>
                <th scope="col" class="align-middle">Département</th>
                <th scope="col" class="align-middle"></th>
            </tr>
        </thead>
        <tbody class="align-middle">
            <tr *ngFor="let item of list | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count }; let i = index">
                <td>{{item.nom_collab}}</td>
                <td>{{item.prenom_collab}}</td>
                <td>{{item.email_collab}}</td>
                <td>{{item.date_embauche_collab | date:'dd-MM-yyyy'}}</td>
                <td>{{item.manager?.nom_manager}}</td>
                <td>{{item.login}}</td>
                <td>{{item.departement?.nom_dep}}</td>
                <td class="text-center">
                    <button class="btn btn-outline-info btn-sm" 
                            ngbTooltip="Modifier">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
