<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/logo.svg" alt="" height="22" />
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="17" />
          </span>
        </a>

        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/SODIM.png" alt="" height="22" />
          </span>
          <span class="logo-lg">
            <img src="assets/images/SODIM.png" class="mt-n10px" alt="" height="22" />
            <!-- <span class="text-white fs-2"> <strong>StarKit18</strong> </span> -->
          </span>
        </a>
      </div>

      <button
        type="button"
        class="btn btn-sm px-3 font-size-16 header-item"
        [ngClass]="{ 'd-none': theme === 'horizontal' }"
        id="vertical-menu-btn"
        (click)="toggleMobileMenu($event)"
      >
        <i class="fa fa-fw fa-bars"></i>
      </button>
    </div>

    <div class="d-flex">
      <div class="dropdown d-inline-block d-lg-none ms-2" dropdown>
        <button
          type="button"
          class="btn header-item noti-icon"
          id="page-header-search-dropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          dropdownToggle
          aria-expanded="false"
        >
          <i class="mdi mdi-magnify"></i>
        </button>
        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
          *dropdownMenu
          aria-labelledby="page-header-search-dropdown"
        >
          <form class="p-3">
            <div class="m-0">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search ..."
                  aria-label="Recipient's username"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="mdi mdi-magnify"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="dropdown d-inline-block" dropdown>
        <button
          type="button"
          class="btn header-item d-flex align-items-center gap-2"
          dropdownToggle
          id="page-header-user-dropdown"
        >
          <span
            class="p-1 bg-success border border-white rounded-circle"
            style="width: 10px; height: 10px"
          ></span>

          <span class="d-none d-xl-inline-block fw-semibold text-dark">
            {{ user }}&#64;sodim.corp  
          </span>

          <i class="mdi mdi-chevron-down d-none d-xl-inline-block text-muted"></i>
        </button>

        <div
          class="dropdown-menu dropdown-menu-end shadow-lg rounded-3 border-0 mt-2"
          *dropdownMenu
        >
          <div class="dropdown-divider my-1"></div>
          <a
            class="dropdown-item text-danger d-flex align-items-center gap-2"
            href="javascript:void(0);"
            (click)="logout()"
          >
            <i class="bx bx-power-off font-size-16 align-middle"></i>
            {{ 'HEADER.LOGIN.LOGOUT' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
